@charset "utf-8";
@import "http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
#login_popup{background:#FFF;border:1px solid #DDD;border-radius:3px;box-shadow:0 6px 12px rgba(0,0,0,0.175);overflow:hidden;padding-bottom:40px}
#login_popup .h3{background:#39C;border:none;color:#FFF;margin:-6px -7px 10px;padding:6px 3px;text-align:center}
#login_popup_buttons{left:6px}
#login_popup_buttons .button2{float:right}
#fa_ticker_block{padding-top:12px;position:relative}
#fa_ticker_block:before{content:url('http://i21.servimg.com/u/f21/16/89/96/68/aarow11.png');left:10px;position:absolute;top:0}
#fa_ticker_block .module{background:#369FCF;border:none;border-radius:0;box-shadow:none;color:#FFF;font-size:11px;margin:10px 0;padding:6px 0;position:relative}
#fa_ticker_block .module a{color:#FFF;text-decoration:underline}
#fa_ticker_block .module a:hover{text-decoration:none}
.post.st-answer .inner{border-color:rgba(51,153,204,0.75)}
.post.st-answer.admin .inner{border-color:rgba(231,153,43,0.75)}
.post.st-answer.modo .inner{border-color:rgba(136,119,238,0.75)}
.post.st-answer.aida .inner{border-color:rgba(189,185,83,0.75)}
.post.st-answer.crea .inner{border-color:rgba(226,80,56,0.75)}
.post.st-answer.revi .inner{border-color:rgba(59,182,117,0.75)}
.post.st-answer.dev .inner{border-color:rgba(148,101,99,0.75)}
.post-table{background:#EEE;border:1px solid #CCC;border-spacing:0;color:#333;width:100%}
.post-table td{border-bottom:1px solid #CCC;border-right:1px solid #CCC;padding:3px 6px}
.tuto-tag{background:#39C;border-radius:3px;color:#FFF;font-weight:700;padding:2px 8px}
.tuto-content + br,.tuto-footer + br,.tuto-header + br{display:none}
.tuto-content,.tuto-footer,.tuto-header{border-spacing:0;width:100%}
.tuto-header a,.tuto-header font{color:#FFF!important}
.tuto-header{background:#39C;border:1px solid #39C;border-radius:3px 3px 0 0;color:#FFF;font-family:"Trebuchet MS",Arial,Verdana,Sans-serif;padding:3px}
.tuto-logo,.tuto-type{height:75px;position:relative;text-align:center;width:150px}
.tuto-title{font-size:22px;text-align:center}
.tuto-logo:after{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;content:"\f086";font-family:FontAwesome;font-size:49px;font-style:normal;font-variant:normal;font-weight:normal;line-height:1;text-rendering:auto}
.announcement .tuto-logo:after{content:"\f0a1"}
.tutorial .tuto-logo:after{content:"\f0d0"}
.rules .tuto-logo:after{content:"\f071"}
.review .tuto-logo:after{content:"\f046"}
.graphic .tuto-logo:after{content:"\f1fc"}
.tuto-type:after{background:#FFF;border-radius:0 0 3px 3px;color:#39C;content:"Template";display:inline-block;font-size:12px;font-weight:700;padding:3px 9px;position:absolute;right:20px;top:-3px}
.announcement .tuto-type:after{content:"Announcement"}
.tutorial .tuto-type:after{color:#8B5;content:"Tutorial"}
.rules .tuto-type:after{color:#ed765e;content:"Important"}
.review .tuto-type:after{color:#5AB584;content:"Review"}
.graphic .tuto-type:after{color:#e06b59;content:"Graphic Design"}
.tuto-content{background:#FFF;border:1px solid #39C;border-bottom:3px dashed #CCC!important;padding:3px}
.tuto-footer{background:#FFF;border:1px solid #39C;border-bottom-width:5px;border-radius:0 0 3px 3px;border-top:none}
.tuto-credit{padding:10px 6px;position:relative;text-align:justify;vertical-align:middle}
.tuto-brand{height:60px;padding:6px 0;text-align:center;vertical-align:bottom;width:120px}
.tuto-brand:before{color:#39C;content:"Forum"}
.tuto-brand:after{color:#333;content:"otion.com"}
.tuto-credit:after{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;bottom:20px;color:#39C;content:"\f086";font-family:FontAwesome;font-size:49px;font-style:normal;font-variant:normal;font-weight:normal;line-height:1;position:absolute;right:-85px;text-rendering:auto}
.tuto-header.tutorial{background-color:#8B5;border-color:#8B5}
.tutorial + .tuto-content,.tutorial + .tuto-content + .tuto-footer,.tutorial + br + .tuto-content,.tutorial + br + .tuto-content + br + .tuto-footer{border-color:#8B5}
.tuto-header.rules{background-color:#ed765e;border-color:#ed765e}
.rules + .tuto-content,.rules + .tuto-content + .tuto-footer,.rules + br + .tuto-content,.rules + br + .tuto-content + br + .tuto-footer{border-color:#ed765e}
.tuto-header.review{background-color:#5AB584;border-color:#5AB584}
.review + .tuto-content,.review + .tuto-content + .tuto-footer,.review + br + .tuto-content,.review + br + .tuto-content + br + .tuto-footer{border-color:#5AB584}
.sticker-points img,.tuto-content table[style="width:100%;"] td[style="width:50%;text-align:center;"] img{vertical-align:middle}
.tuto-header.graphic{background-color:#e06b59;border-color:#e06b59}
.graphic + .tuto-content,.graphic + .tuto-content + .tuto-footer,.graphic + br + .tuto-content,.graphic + br + .tuto-content + br + .tuto-footer{border-color:#e06b59}

.modAlert{background:#FFF;border:1px solid #CCC;border-left-width:5px;border-radius:3px;border-spacing:0;margin:6px auto;width:90%}
.modAlertEdit,.modAlertEdit1,.modAlertEdit9{border-left-color:#EABB3D}
.modAlertEdit11,.modAlertEdit2,.modAlertEdit7{border-left-color:#84C754}
.modAlertEdit13,.modAlertEdit3,.modAlertEdit5{border-left-color:#E7553D}
.modAlertEdit10,.modAlertEdit12,.modAlertEdit4{border-left-color:#39c}
.modAlertEdit6,.modAlertEdit8{border-left-color:#2D3134}
.modAlertImage,.modAlertImage1,.modAlertImage10,.modAlertImage11,.modAlertImage12,.modAlertImage13,.modAlertImage2,.modAlertImage3,.modAlertImage4,.modAlertImage5,.modAlertImage6,.modAlertImage7,.modAlertImage8,.modAlertImage9{border-right:1px solid #CCC;text-align:center;width:70px}
.modAlertImage{background:url(http://i18.servimg.com/u/f18/16/89/96/68/change10.png) no-repeat center}
.modAlertImage1{background:url(http://i18.servimg.com/u/f18/16/89/96/68/double12.png) no-repeat center}
.modAlertImage2{background:url(http://i18.servimg.com/u/f18/16/89/96/68/topic_15.png) no-repeat center}
.modAlertImage3{background:url(http://i18.servimg.com/u/f18/16/89/96/68/declin11.png) no-repeat center}
.modAlertImage4{background:url(http://i18.servimg.com/u/f18/16/89/96/68/langua10.png) no-repeat center}
.modAlertImage5{background:url(http://i18.servimg.com/u/f18/16/89/96/68/bump10.png) no-repeat center}
.modAlertImage6{background:url(http://i18.servimg.com/u/f18/16/89/96/68/garbag10.png) no-repeat center}
.modAlertImage7{background:url(http://i18.servimg.com/u/f18/16/89/96/68/layout10.png) no-repeat center}
.modAlertImage8{background:url(http://i18.servimg.com/u/f18/16/89/96/68/no_rep10.png) no-repeat center}
.modAlertImage9{background:url(http://i18.servimg.com/u/f18/16/89/96/68/provid10.png) no-repeat center}
.modAlertImage10{background:url(http://i18.servimg.com/u/f18/16/89/96/68/reques10.png) no-repeat center}
.modAlertImage11{background:url(http://i18.servimg.com/u/f18/16/89/96/68/thanks16.png) no-repeat center}
.modAlertImage12{background:url(http://i18.servimg.com/u/f18/16/89/96/68/tagged10.png) no-repeat center}
.modAlertImage13{background:url(http://i18.servimg.com/u/f18/16/89/96/68/admin_10.png) no-repeat center}
.modAlertText{padding:3px;text-align:center}
.modAlertExtra{border-spacing:0;border-top:1px solid #CCC;color:#666;display:block;font-family:"Trebuchet MS",Arial,Verdana,Sans-serif;font-size:12px;font-style:italic;font-weight:700;margin:3px -3px 0;padding:3px 3px 0;text-align:center;width:100%}
.modAlertExtra tbody,.modAlertExtra td,.modAlertExtra tr{display:block;width:100%}

/* jQuery plugin cf v0.2*/
#cf_wrap{background:none repeat scroll 0 0 #FFF;border:1px solid #DDD;min-width:140px;position:absolute;text-align:center;z-index:100;padding:7px 13px}
#cf_content{border-bottom:1px solid #DDD;color:#444;margin-bottom:7px;padding-bottom:5px}
#cf_btn > div{background:none repeat scroll 0 0 #004FBC;color:#FFF;display:inline-block;margin-left:10%;width:45%;padding:3px 0}
#cf_btn > div:last-child{background:none repeat scroll 0 0 #FF3D3D}
#cf_btn > div:first-child{margin-left:0}
#cf_btn > div:hover{background:none repeat scroll 0 0 #333;cursor:pointer}
#cf_wrap:before,#cf_wrap:after{position:absolute;display:block;width:0;height:0;content:"";border-color:transparent;border-style:solid}
#cf_wrap:before{border-width:11px}
#cf_wrap:after{border-width:10px}
#cf_wrap.top:before{bottom:-11px;left:50%;margin-left:-11px;border-top-color:#ccc;border-bottom-width:0}
#cf_wrap.top:after{bottom:-10px;left:50%;margin-left:-10px;border-top-color:#fff;border-bottom-width:0}
#cf_wrap.right:before{top:50%;left:-11px;margin-top:-11px;border-right-color:#ccc;border-left-width:0}
#cf_wrap.right:after{top:50%;margin-top:-10px;left:-10px;border-right-color:#fff;border-left-width:0}
#cf_wrap.bottom:before{top:-11px;left:50%;margin-left:-11px;border-bottom-color:#ccc;border-top-width:0}
#cf_wrap.bottom:after{top:-10px;left:50%;margin-left:-10px;border-bottom-color:#fff;border-top-width:0}
#cf_wrap.left:before{top:50%;right:-11px;margin-top:-11px;border-left-color:#ccc;border-right-width:0}
#cf_wrap.left:after{top:50%;right:-10px;margin-top:-10px;border-left-color:#fff;border-right-width:0}
/* zzPoll by zzbaivong */
.zzPoll{padding:10px 20px 0}
.zzPoll h3 { font-size: 16px; height: 34px; line-height: 23px; position: relative; border-bottom: 1px solid #DDD; color: #484848; }
.zzPoll h3:before{content:"\f080";font-size:21px;font-family:FontAwesome;padding-right:8px}
.zzPoll ul{list-style:none outside none;padding:10px 0}
.zzPoll li,#messedit{position:relative;line-height:30px;height:30px}
#poll_result .poll_t{position:absolute;width:24%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;left:0;top:0}
#poll_result .poll_m{height:25px;margin-left:25%;width:50%;float:left}
#poll_result .poll_w{background-color:red;border:5px solid #e6e6e6;float:left;line-height:18px;margin-top:3px;box-shadow:0 0 1px #000;padding:3px 1px}
#poll_result .percent{right:10%!important}
#poll_ballot .poll-c,#poll_ballot .poll-c label{display:block;height:30px;line-height:30px}
#poll_ballot .c_vote{background:url(http://i78.servimg.com/u/f78/17/70/81/78/sinchr10.png) no-repeat left center transparent;padding-left:35px;height:30px;display:inline-block;line-height:30px}
#poll_ballot input[type="radio"],#poll_ballot input[type="checkbox"]{display:none!important}
#poll_ballot input[type="checkbox"] + label,#poll_ballot input[type="radio"] + label{cursor:pointer;height:20px;line-height:20px}
#poll_ballot input[type="checkbox"] + label:before,#poll_ballot input[type="radio"] + label:before{content:"\f10c";font-family:FontAwesome;font-size:18px;color:#000000;padding-right:15px}
#poll_ballot input[type="checkbox"]:checked + label:before,#poll_ballot input[type="radio"]:checked + label:before{content:"\f05d";color:#0092d5}
#poll_ballot input[type="checkbox"]:disabled + label,#poll_ballot input[type="radio"]:disabled + label{background-image:url(http://i79.servimg.com/u/f79/16/48/23/13/delete10.png)!important;color:#999}
.zzPoll .totalvote,#poll_result .poll_m span{position:absolute;right:0}
.zzPoll .frm-buttons{text-align:center;border-top:1px solid #DDD;height:57px;line-height:57px;margin:0;padding:10px 0}
.zzPoll .frm-buttons a{padding:0 10px;vertical-align:top}
