body{margin:0;padding:10px;background:#FFF;font-family:Arial,arial,sans-serif;font-size:14px}
a { text-decoration: none; }
.connect{border:1px solid #DDD;margin-bottom:10px}
h1.page-title{background:#ddd;padding:10px;margin:0;text-transform:uppercase;font-size:20px}
h1.page-title a { color: #A54600; }
.page-entry{padding:10px}
h2.post-content{font-weight:700;font-size:17px;margin:0;color:#006EA5}
h3.post-content{margin:0;color:#900000;font-size:15px}
div#flip{padding:10px;background-color:#FFE5BD;border:solid 1px #FF6A00;cursor:pointer;color:#BB3E00;border-radius:6px;text-transform:uppercase;font-weight:700}
div#panel{padding:10px;display:none}
.iconfb-entry { padding: 5px; text-align: center; }
.cmt{border:1px solid #DDD}
.cmt-head{background:#ddd;padding:10px 5px;font-weight:700;text-transform:uppercase}
.tal{border-radius:5px;border:1px solid red;height:20px!important;width:32px;padding:3px 2px 0 0;margin:5px 5px 20px;box-shadow:2px 2px 5px #6f6f6f inset 0 0 0 #9E9E9E;font-weight:700;font-size:1em;transition:all .4s ease;-ms-transition:all .4s ease;-webkit-transition:all .4s ease;-moz-transition:all .4s ease;overflow:hidden}
.el{width:16px;height:16px;margin:4px;padding:10px;box-shadow:2px 2px 5px #e8e8e8 0 0 0 #e8e8e8 inset;border-radius:5px;border:1px solid #3b5998;color:hsl(207,60%,10%);transition:all .4s ease;-ms-transition:all .4s ease;-webkit-transition:all .4s ease;-moz-transition:all .4s ease}
.tal::selection{background:#3b5998}
.tal::-moz-selection{background:#3b5998}
div#fooder{background:#ddd;padding:10px;margin-top:10px;text-transform:uppercase;color:#AF0000}
.copyring{text-align:center}
@media screen and (max-width:640px) {
.page-entry{padding:4px}
h1.page-title{font-size:18px}
div#flip{padding:8px 5px;font-size:13px}
div#panel{padding:3px}
.page-entry img{max-width:100%}
.page-entry iframe{max-width:100%}
}
